
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Outfit", sans-serif;

}

body{
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid blue;
    width: 900px;
    height: 700px;
    display: flex;
   

}
.container-form{
    border: 2px solid green;
    width: 100%;
    

}
.container-form form{
    border: 2px solid yellow;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form h2{
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
    
}

.logo{
    border: 2px solid purple;
    display: flex;
    height: 300px;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    width:100%;
    padding: 20px;
}

.container-form span{
    font-size: 10px;
    margin-bottom: 15px;
}

.container-input{
    
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 15px;
    background-color: #EEEEEE;

}

.container-input input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.container-form a{
    color: blue;
    font-size: 14px;
    margin-top: 5px;
}

.button{
    width:170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: blue;
    color: white;
}

.sign-up span{
    font-size: 16px;
    margin-top: 10px;
    color : green;
}

.sign-in span{
    font-size: 16px;
    margin-top: 10px;
    color : green;
}