@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Merriweather Sans", sans-serif;

}

body{
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid blue;
    width: 800px;
    height: 500px;
    display: flex;
   

}
.container-form{
    border: 2px solid green;
    width: 100%;
    

}
.container-form form{
    border: 2px solid yellow;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: blue;
}

.logo{
    border: 2px solid purple;
    display: flex;
    height: 100%;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    width:100%;
}
